:root {
    --clr-primary: hsl(338, 100%, 32%);
    --clr-secondary: hsl(327, 100%, 45%);
    --clr-accent: hsl(256, 35%, 27%);
    --clr-content-background: white;
    --clr-hover: hsl(298, 99%, 41%);
    --clr-nav-text: #333;
    --clr-h1: #3E3E3E;
    --clr-base-text: #404040;

    --ff-base: "Lora", sans-serif;
    --ff-secondary: "Monotype Corsiva", sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-100: 11px;
    --fs-200: 14px;
    --fs-300: 16px;
    --fs-400: 18px;
    --fs-500: 20px;
    --fs-600: 32px;
    --fs-700: 40px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

html {
    background-color: white;
}

body {
    min-height: 100vh;
    font-family: var(--ff-base);
    font-size: var(--fs-300);
    color: var(--clr-base-text);
    background-image: url("imgs/background.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-color {
    background-color: rgba(211, 211, 211, 0.733);
    min-height: 100vh;
}

header {
    background-color: var(--clr-content-background);
}

.primary-nav {
    margin-top: 0.8rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    box-shadow: 0 1px 5px 2px hsla(0, 0%, 65%, 0.6);
}

.primary-nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    padding: 1.5rem;
    list-style: "/    ";
}

.primary-nav ul li {
    text-transform: uppercase;
}

.primary-nav ul li:first-child {
    list-style: none;
}

.primary-nav ul li a {
    text-decoration: none;
    color: var(--clr-nav-text);
    transition: color 0.5s ease-out;
}

.primary-nav ul li a:hover,
.primary-nav ul li a:focus {
    color: var(--clr-hover);
}


.bottom-header {
    padding: 1.7rem;
    text-align: center;
}

.bottom-header h1 {
    font-size: var(--fs-700);
    text-transform: uppercase
}

.bottom-header h1 a {
    color: var(--clr-h1);
    text-decoration: none;
    transition: color 0.5s ease-out;
}

.bottom-header h1 a:hover,
.bottom-header h1 a:focus {
    color: var(--clr-hover);
}

.bottom-header p {
    font-family: var(--ff-secondary);
}

main {
    margin-top: 2.7rem;
    max-width: 1140px;
    margin-inline: auto;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
}

main img {
    width: 100%;
    height: auto;
}

.content-sidebar-container {
    display:flex;
    gap: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
    align-items: center;
    background-color: white;
}

.content article {
    padding: 3rem;
    border-top: 2px solid var(--clr-secondary);
    width: 95%;
}

.content h2 {
    color: var(--clr-primary);
}

.home {
    font-size: var(--fs-600);
    text-align: center;
    padding: 3rem;
    font-weight: var(--fw-bold)
}


aside {
    flex: 1 1 30%;
    background-color: white;
}
